.form {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.label_title {
  color: #04d9ff;
  text-shadow: 2px 1px 2px #04d9ff65;
  align-self: center;
  width: 80%;
}
.input {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #53addf;
  background-color: #5fddff;
}

.label_description {
  color: #04d9ff;
  text-shadow: 2px 1px 2px #04d9ff65;
  width: 80%;
}
.textarea {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #53addf;
  background-color: #5fddff;
}

.label_priority {
  color: #04d9ff;
  text-shadow: 2px 1px 2px #04d9ff65;
  align-self: center;
  margin-top: 30px;
}
.number {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #53addf;
  background-color: #5fddff;
}

.button {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  border-bottom: 5px solid steelblue;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#5fddff, #53addf);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px grey;
  transition: 150ms ease;
  font-weight: bold;
  margin-top: 10px;
}
.button:hover {
  color: gold;
  box-shadow: 0 4px 14px gold;
}
.button:active {
  border: none;
  border-bottom: 2px solid steelblue;
  box-shadow: 0 1px 5px grey;
  background: linear-gradient(#53afff, #5fcdff);
  color: #fff;
}
